In [90]:
import pandas as pd
import numpy as np
import csv
from scipy import stats
import math
import matplotlib.pyplot as plt
from pandas.plotting import autocorrelation_plot
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import adfuller
import datetime
from datetime import datetime, timedelta
import holidays
pd.options.display.max_rows = 50

pd.options.display.float_format = '{:.2f}'.format

In [111]:
## Fandi Please Help.
df = pd.read_csv("ben_intraday_data.csv")
BAC = df[df.sym_root == 'BAC'].reset_index().drop(['index'],axis=1)
BAC

               date      time sym_root sym_suffix    size
0        2019-01-02  04:00:00      BAC        NaN  100.00
1        2019-01-02  05:04:00      BAC        NaN  300.00
2        2019-01-02  07:00:00      BAC        NaN 2071.00
3        2019-01-02  07:07:00      BAC        NaN   30.00
4        2019-01-02  07:09:00      BAC        NaN  100.00
...             ...       ...      ...        ...     ...
1358219  2021-12-31  19:55:00      BAC        NaN  798.00
1358220  2021-12-31  19:56:00      BAC        NaN  874.00
1358221  2021-12-31  19:57:00      BAC        NaN 1000.00
1358222  2021-12-31  19:58:00      BAC        NaN  270.00
1358223  2021-12-31  19:59:00      BAC        NaN 2070.00

[1358224 rows x 5 columns]

In [114]:
BAC['Time'] = pd.to_datetime(df['date'] + ' ' + df['time'])
BAC[0:50]

NameError: name 'BAC' is not defined

In [87]:
def to24hours(t):
    if t.hour < 5:
        return datetime(t.year,t.month,t.day, t.hour + 12, t.minute, t.second)
    else:
        return t
df['TIME_M']= df.TIME_M.apply(to24hours)
def makeDateTime(x,date):
    return datetime(int(date[6:]),int(date[:2]),int(date[3:5]), x.hour, x.minute, x.second)
df['TIME_M'] = df.TIME_M.apply(makeDateTime, args = ("11/01/2021",))

             date      time sym_root sym_suffix    size           Date_Time
0      2019-01-02  09:30:00      BAC        PRE 1957.00 2019-01-02 04:00:00
1      2019-01-02  09:44:00      BAC        PRE  100.00 2019-01-02 04:00:00
2      2019-01-02  09:54:00      BAC        PRE  190.00 2019-01-02 04:00:00
3      2019-01-02  09:56:00      BAC        PRE  245.00 2019-01-02 04:00:00
4      2019-01-02  10:09:00      BAC        PRE    5.00 2019-01-02 04:00:00
...           ...       ...      ...        ...     ...                 ...
35599  2021-12-31  16:00:00      BAC        PRE 4642.00 2019-01-09 11:56:00
35600  2021-12-31  16:10:00      BAC        PRE 2242.00 2019-01-09 11:56:00
35601  2021-12-31  16:28:00      BAC        PRE   93.00 2019-01-09 11:56:00
35602  2021-12-31  18:30:00      BAC        PRE 2242.00 2019-01-09 11:56:00
35603  2021-12-31  19:00:00      BAC        PRE 2242.00 2019-01-09 11:56:00

[35604 rows x 6 columns]